*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Regular'), url('../admin/Metropolis-Regular.woff') format('woff');
}

body{
    background: rgb(236, 236, 236);
    font-family: 'Metropolis Regular';
}

.parent{
    width: 100%;
    /* background-color: red; */
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    padding: 20px;
}

.succtext{
    font-size: 40px;
    text-align: center;
    color: green;
    padding-top: 50px;
    /* background: yellow; */
    /* position: relative; */
}

.hol-ico{
    text-align: center;
}

.che-ico{
    color: green;
    font-size: 100px;
}

.sub{
    font-size: 25px;
    color: green;
    margin-top: 50px;
    text-align: center;
}

.some{
    font-size: 20px;
    color: rgb(34, 1, 1);
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
}

.link{
    text-align: center;
    margin-top: 20px;
}

a{
    color: blue;
    font-size: 25px;
    font-weight: bold;
}



@media screen and (max-width: 480px){
    .succtext{
        font-size: 25px;
        font-weight: 500;
    }

    .sub{
        font-size: 20px;
    }

    .some{
        font-size: 15px;
    }

}