/* @media (min-width: 720px){
    ul{
        
    }
} */

@media screen and (max-width: 1301px) and (min-width: 1102px){
    /* ul{
        left: 40%;
        width: 60%;
    } */

    .hero-box{
        width: 85%;
    }
}

@media screen and (max-width: 1102px) and (min-width: 1080px){
    /* ul{
        left: 33%;
        width: 65%;
    } */


}

@media screen and (max-width: 1102px) and (min-width: 985px){
    .hero-box{
        width: 80%;
    }
}



@media screen and (max-width: 1080px) and (min-width: 1019px) {
    /* ul{
        left: 35%;
        width: 65%;
    } */
}

@media screen and (max-width: 1019px) and (min-width: 1000px){
    /* ul{
        left: 30%;
        width: 70%;
    } */

    .logoname{
        font-size: 25px;
    }
}


@media screen and (max-width: 1000px) and (min-width: 885px){
    /* ul{
        left: 25%;
        width: 75%;
    } */

    .hero-box{
        width: 80%;
    }

    .logoname{
        font-size: 25px;
    }
}

@media screen and (max-width: 1080px) and (min-width: 821px){
    .big-text{
        font-size: 40px;
    }
}

@media screen and (max-width: 885px) and (min-width: 720px){
    /* ul{
        left: 20%;
        width: 80%;
    } */

    .logoname{
        visibility: hidden;
        display: none;
    }

}




@media screen and (max-width: 885px) and (min-width: 720px){
    /* ul{
        left: 20%;
        width: 80%;
    } */

    /* li{
        padding-left: 35px;
    } */

}

@media screen and (max-width: 780px) and (min-width: 720px){
    /* ul{
        left: 10%;
        width: 90%;
    }

    li{
        padding-left: 35px;
    } */

}

@media screen and (max-width: 720px){

    .logo img{
        width: 70px;
    }

    .logoname{
        font-size: 20px;
    }

    .btn-tog{
        display: block;
    }

    nav{
        overflow: hidden;
        margin-bottom: 0;
        margin-top: -70px;
        position: fixed;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 5;
        /* height: 295px; */
        background: rgb(255, 255, 255);
        height: 70px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.876);
    }

    nav .row{
        /* display: none; */
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 70px;
    }

    ul{
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 70px;
        transform: translateY(0);
        text-align: center;
        /* background-color: blue; */
        padding-bottom: 15px;
        height: 0;

    }

    li{
        display: block;
        width: 100%;
        margin: auto;
        padding: 20px 0;
    }

    li:nth-of-type(odd){
        background-color: #007d9c;
    }

    li:nth-of-type(even){
        background-color: rgb(255, 255, 255);
    }

    .log-li a{
        box-shadow: 0 0 5px white;
    }

    .log-li{
        padding: 8px 0 20px 0;
        /* display: none; */
    }
    
    .li-last{
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        /* display: none; */
    }

    .li-last a{
        border: 2px solid white;
        box-shadow: 0 0 5px black;
    }

    .log-ico{
        position: relative;
        top: 10px;
        transform: translateY(0);
    }

    .log span{
        padding-left: 0;
    }

    header{
        background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.692)), url("../gallery/MODELS/photo (3).jpg");
        background-size: cover;
        background-position: center;
        margin-top: 70px;
    }    

    .hero-box{
        /* top: 50%; */
        width: 100%;
        border: 0;
        border-radius: 0;
        animation-name: stop;
        background: none;
    }
}

@media screen and (max-width: 985px) and (min-width: 820px){
    .hero-box{
        width: 90%;
    }
}


@media screen and (max-width: 820px){
    .hero-box{
        width: 95%;
    }

    .big-text{
        font-size: 40px;
    }
}

@media screen and (max-width: 770px) and (min-width: 721px){
    .hero-box{
        width: 95%;
    }
}

@media screen and (max-width: 680px){
    .hero-box{
        width: 95%;
        border-radius: 0;
        border: 0;
        animation-name: stop;
        background: none;
    }

    form{
        width: 90%;
    }

    form select{
        width: 20%;
        padding-right: 0;
    }

    .search{
        padding-right: 0;
    }

    .browse{
        width: 20%;
    }

}

@media screen and (max-width: 620px){
    form{
        width: 95%;
    }

    form select{
        width: 25%;
        padding-right: 0;
    }

    .search{
        width: 55%;
        padding-right: 0;
        padding-left: 0;
    }

    .browse{
        width: 20%;
    }
}

@media screen and (max-width: 420px){
    form{
        width: 98%;
    }

    form select{
        width: 28%;
    }

    .browse{
        width: 17%;
    }
}

@media screen and (max-width: 500px){
    .hero-box{
        width: 100%;
        border: 0;
        animation-name: stop;
        background: none;
    }

    @keyframes stop{
        from{
            box-shadow: 0;
        }

        to{
            box-shadow: 0;
        }
    }
}

@media screen and (max-width: 377px){
    .hero-box{
        width: 100%;
    }

    .big-text{
        font-size: 30px;
    }
}


@media screen and (max-width: 1221px) and (min-width: 1050px){
    .feat-row{
        width: 80%;
    }

    .sec-title, .mod-sec-title{
        width: 78%;
    }

    .jst{
        width: 95%;
    }
}

@media screen and (max-width: 1050px) and (min-width: 905px){
    .feat-row{
        width: 90%;
    }

    .sec-title, .mod-sec-title{
        width: 88%;
    }

    .jst{
        width: 93%;
    }
}

@media screen and (max-width: 928px) and (min-width: 905px){
    .span-1-of-3{
        margin-left: 10px;
    }
}

@media screen and (max-width: 905px){
    .feat-row{
        width: 100%;
    }

    .span-1-of-3{
        width: 31%;
        /* margin-left: 18 */
    }

    .sec-title, .mod-sec-title{
        width: 99%;
    }

    .jst{
        width: 93%;
    }
}

@media screen and (max-width: 810px){
    .feat-row{
        width: 100%;
    }

    .hol-free{
        padding-right: 10px;
    }

    /* .span-1-of-3{
        width: 32%;
    } */
}

@media screen and (max-width: 770px){
    .span-1-of-ban{
        margin: auto;
    }
    
    .span-1-of-3{
        width: 47%;
        margin: auto;
        margin-top: 15px;
        margin-left: 11px;
    }

    .span-1-of-4{
        width: 33.33%;
    }

}

@media screen and (max-width: 530px){
    .span-1-of-3{
        width: 48%;
        margin-left: 3px;
    }

}

@media screen and (max-width: 500px){
    .rate{
        margin-left: 5px;
    }

    .cent-inp{
        width: 85%;
    }

}


@media screen and (max-width: 499px){
    .span-1-of-3{
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    .span-1-of-4{
        width: 50%;
        height: 30vw;
    }

    .banner{
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-height: 430px){
    header{
        height: auto;
    }
    .hero-box{
        position: relative;
        padding-top: 50px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin: auto;
    }

}



@media screen and (max-width: 430px){

    .cent-inp{
        width: 95%;
    }
}

@media screen and (max-width: 350px){
    .span-1-of-ban{
        width: 100%;
        margin: auto;
    }
   .banner{
       width: 300px;
       height: 300px;
       margin: auto;
   }
}

@media screen and (max-width: 320px){
    .span-1-of-4{
        width: 100%;
        height: 50vw;
    }

    .ads{
        font-size: 30px;
    }
 
    .ads a{
        font-size: 20px;
    }
}

@media screen and (max-width: 300px){
    .span-1-of-ban{
        width: 100%;
        margin: auto;
    }
   .banner{
       width: 300px;
       height: 300px;
       margin: auto;
   }
}

@media screen and (max-width: 1080px){
    .span-1-of-loc{
        width: 23%;
        margin-left: 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 900px){
    .span-1-of-loc{
        width: 31%;
    }
}

@media (min-width: 720px) and (max-width: 960px){
    .logo{
        left: 20px;
    }

    ul{
        right: 20px;
        width: 65%;
    }

}

@media (max-width: 840px){
    ul{
        width: 70%;
    }
}

@media (max-width: 800px){
    ul{
        width: 80%;
    }
}

@media (max-width: 480px){
    .logo{
        left: 20px;
    }
}

@media screen and (max-width: 700px){

    .hol-free{
        width: 100%;
        padding-right: 5px;
    }

    .span-1-of-loc{
        width: 32%;
        margin-left: 7px;
        margin-top: 7px;
    }

    .jst{
        width: 98%;
    }
}

@media (max-width: 575px){
    .modal-dialog{
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 575px) and (max-height: 740px){
    #loginModal .modal-content{
        height: 100vh;
    }
}

@media screen and (max-width: 570px){
    .span-1-of-loc{
        width: 45%;
        margin-left: 18px;
        margin-top: 18px;
        
    }

    .jst{
        width: 93%;
    }
}

@media screen and (max-width: 460px){
    .span-1-of-loc{
        width: 47.5%;
        margin-left: 8px;
        margin-top: 8px;
    }

    .jst{
        width: 95%;
    }
}

@media screen and (max-width: 400px) and (min-width: 350px){
    
    .hol-free{
        padding-right: 0;
    }
    
    .span-1-of-loc{
        width: 49%;
        margin: 1.5px;
    }

    .det{
        width: 100%;
    }

    .s-2:first-child{
        display: none;
    }

    .jst{
        width: 99%;
    }
}


@media screen and (max-width: 350px){
    .hol-free{
        padding-right: 0;
    }

    .span-1-of-loc{
        width: 90%;
        display: block;
        margin: 10px auto;
    }
}

@media screen and (max-width: 270px){
    .span-1-of-3{
        overflow: auto;
    }
    .logoname{
        display: none;
    }
}