/******** OVERLAY **********/
*{
    margin: 0;
    padding: 0;
}
.grand{
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 1;
}

.paren{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cir{
    background: rgba(255, 255, 255, 0.301);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: cover;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes cover{
    from{width: 150px; 
        height: 150px;
        background: linear-gradient(rgb(0, 238, 255), rgb(0, 162, 255));
    }
    to{
        width: 180px; 
        height: 180px;
        background: linear-gradient(rgb(0, 238, 255), rgb(0, 162, 255));
    }

}

.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.slow{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#slow-connect{
    animation-name: slow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
 
 @keyframes slow{
     from{
         color: white;
     }
     to{
         color: red;
     }
 }

/******** OVERLAY **********/